/* command styles */
:root {
  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Gray */
  --color-comment-bg: #fafafa;
  --color-gray: #fff5f6;
  --color-btn-hover-bg: #ecebeb;
  --color-color-lines: #e1e1e1;
  --color-dots: #d9d9d9;
  --color-text-second: #907e82;
  --color-text-primary: #000000;

  /* Brand */
  --color-primary: #d41443;
  --color-primary-hover: #d41342;
  --color-primary-accent: #c7133e;

  /* Pink */
  --color-secondary-title-color: #ffa5ba;
  --color-bg-color: #ffb8ca;
  --color-location-time-text: #fea5bb;

  /* Product colors */
  --color-cafe: #f0d1a5;
  --color-food-truck: #c2e297;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  color: var(--color-text-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ============= LOCATION ============= */
.locations,
.passion {
  background: var(--color-gray);
}

.locations {
  padding: 100px 0;
  background-image: url(./img/dots-locations.png);
}

.locations__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CARD */

.locations__card {
  max-width: 330px;
  flex-basis: calc((100% - 60px) / 3);
  background: var(--color-white);
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.locations__badge {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.locations__card--cafe .locations__badge {
  background: var(--color-cafe);
}

.locations__card--truck .locations__badge {
  background: var(--color-food-truck);
}

.locations__city {
  font-size: 18px;
  margin: 0 0 10px;
}

.locations__desc {
  color: var(--color-text-second);
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 32px;
}

.locations__schedule {
  margin: 10px 0;
  padding-bottom: 32px;
}

.locations__schedule dt {
  font-weight: 600;
}

.locations__schedule dd {
  color: var(--color-location-time-text);
  font-size: 14px;
  margin: 0 0 10px 0;
}

.locations__contact a {
  color: var(--color-text-second);
  font-size: 14px;
  margin-top: 20px;
  list-style: none;
}

.locations__contact-tel {
  color: var(--color-text-second);
  padding-right: 30px;
  font-weight: 500;
}

.locations__contact-mail {
  color: var(--color-text-second);
  font-weight: 500;
}

.locations__divider {
  border: none;
  border-top: 1px solid var(--color-color-lines);
  margin: 20px 0;
  padding-bottom: 32px;
}

/* BUTTONS */
.locations__buttons {
  padding-top: 86px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.button {
  padding: 14px 46px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.button--main {
  background: var(--color-primary);
  color: var(--color-white);
}

.button--main:hover {
  background: var(--color-primary-hover);
  box-shadow: var(--color-primary-accent) 0px 0px 8px 2px;
}

.button--outline {
  background: var(--color-white);
  color: var(--color-primary);
}

.button--outline:hover {
  background: var(--color-btn-hover-bg);
  box-shadow: var(--color-text-second) 0px 0px 8px 2px;
}

/* ============= PASSION ============= */
.passion {
  padding: 80px 40px;
}

.passion__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.passion__title {
  font-size: 58px;
  font-weight: 400;
  color: var(--color-primary);
  line-height: 100%;
  font-family: "Titan One", sans-serif;
  margin: 0;
}

.passion__subtitle {
  display: block;
  font-size: 30px;
  color: var(--color-secondary-title-color);
  font-weight: 400;
  letter-spacing: 4%;
  margin-bottom: 10px;
}

.passion__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.passion__social {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.passion__social-link {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-secondary-title-color);
  border-radius: 50%;
}

.passion__social-link:hover {
  background-color: var(--color-primary);
  box-shadow: var(--color-primary) 0px 0px 8px 2px;
}

.passion__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

.passion__contact {
  font-size: 14px;
  font-style: normal;
}

.passion__phone {
  color: var(--color-primary);
  font-weight: 600;
}

.passion__copyright p {
  margin: 0;
  font-size: 14px;
  color: var(--color-text-second);
}

.passion__copyright {
  margin-top: 60px;
  padding-top: 20px;
  border-top: 1px solid var(--color-color-lines);
  text-align: center;
}

/* ========== MEDIA ========== */
@media (max-width: 1200px) {
  .locations__list {
    gap: 30px;
  }

  .locations__card {
    flex: 1 1 calc((100% - 60px) / 3);
    padding: 35px;
  }
}

@media (max-width: 768px) {
  .locations__list {
    gap: 20px;
  }

  .locations__card {
    flex-basis: calc((100% - 40px) / 3);
    padding: 20px;
  }

  .locations__buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .passion__title {
    font-size: 48px;
    width: 340px;
    height: 183px;
  }

  .passion__subtitle {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .locations {
    padding: 60px 20px;
  }

  .locations__list {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .locations__card {
    width: 100%;
    max-width: 320px;
  }

  .passion__top {
    flex-direction: column;
    gap: 30px;
  }

  .passion__right {
    align-items: flex-start;
  }

  .passion__title {
    font-size: 34px;
  }

  .passion__subtitle {
    font-size: 18px;
  }
}
